/* element selector css  Base Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, 'Times New Roman'; /* Apply different font family - Arial, Verdana, Times New Roman */
  background-color: #e9e9e9; /* Set Page background colour */
  color: #333; /*Set Font Colour */
  line-height: 1.8;  /*set wording space height */
}

/* element selector css Header general */
header {
  
  background-color: #004e92; /* Set Header's background colour */
  color: white;       /*Set Header's general font colour*/
  text-align: center; /* Text alignment */
  padding: 20px 20px 20px;

}

/* element selector css header1*/
header h1 { 
  font-size: 55px; /*  Set colour of Page title */
  color: #ffcc00; /* Set colour of title */
  margin-bottom: 5px;
}

/* class selector css for header tagline */
.tagline {              
  font-style: italic;   /*Set words to italic*/
  font-size: 18px;      /*Set tagline font size*/
  color: #e0e0e0;     /*Set tagline colour*/
  text-align: center;   /*Set text to center of screen*/
}

/* element selector css Navigation */
nav {
  background-color: #fff;
  text-align: center;     /*Set navigator to center of screen*/
  padding: 15px 0px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

/* element selector css for when nav's anchor tag*/
nav a {
  color: #004e92; /* set text colour */
  text-decoration: none; /* remove the underline of the linnk */
  margin: 0px 20px;
  font-weight: bold;
  transition: color 0.3s;
}

/*element selector css with hover over*/
nav a:hover {
  color: #ffcc00; /* change colour of the text when hover over */
  text-decoration: underline; /* Show underline when hover over */
}

/* element selector css for Main Content */
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0px 15px;
}

/* element selector css for Section styling */
section {
  background-color: #ffffff; /* Set Section background colour */
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

#places{
  background-color: #6eeaf3; /* Set Section "Places" to a different background colour */
}

/* element selector css for Headings h2 */
section h2 {
  color: #0074D9; /* Set colour for h2 text */
  font-size: 40px; /*  Set size of text of h2 */
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* element selector css for paragraphs */
p {
  color: #444; /* Set text colour for readability */
  margin-bottom: 10px;
  text-align: justify; /* Set text to be aligned justified */
}

/* css for emphasis */
p em {
  color: #0074D9;
  font-style: italic;
}

/* set css for lists while keeping text unchanged */
ul {
  margin-left: 25px;    /* Set the margin for the links from left */
  
}

ul li{
  margin-bottom: 10px;    /* Set the distance from one link to the next */
}


/* element selector css for Footer  */
footer {
  text-align: center;
  background-color: #004e92;
  color: #2c2c2c;
  padding: 15px;
  font-size: 15px;
}

/* Change the font colour of the copywrite text so that it is readable*/
.copywriteTxt{
  color: white;
}
